.title1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.big-d{
    margin-top: 40px;
    background-color: white; 
    width: 100%;
}
.bibtn{
    margin-right: 10px;
    width: 45px;
    height:27px;
    border: none;
    border-radius: 20%;
    color: #6f7a92;
}
.bibtn:hover{
    background-color: #0d6efd;
    color: #f9f9f9;
    transition: 0.4s;
}
#all-chart{
    background-color: white;
    margin-top: 100px;
    display: flex;
    margin: 5px;
}
.chart4{
    width: fit-content!important;
}
.color-pro{
    background-color: white;
}
.note1{
    margin: 0;
    font-family: merriweather sans,sans-serif;
    font-size: 20px;
}
.note2{
    color: #adb4c8;
    
}
.all-note{
    padding-left: 30px;
}
.chart4-img{
    width: 70px;
}
.chart4-ul{
    right: 30px;
    background-color: white;
}
.chart4-ul li:hover{
    background-color: #0d6efd;
    color: white;
    transition: 0.4s;
}
.chart4-ps{
   color:#adb4c8 ; 
}
.padding-1{
    border-bottom: 1px solid #d6d5fa
}